.DS_Store
node_modules
/dist
web.config
/iisnode

# local env files
.env
.env.local
.env.*.local
.env_*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.rej

# generated
schema.graphql
*.sqlite
server/**/*
!server/.gitkeep
apollo-server/**/*.txt